@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 19px;
  --main-color: white;
  --sec-color: #7371FC;
  --third-color: #BEADFF;
  --fourth-color: #E5D9F2;
  --fifth-color: #F5EFFF;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
}

.custom-transition {
  transition: all .4s ease;
}

.table-heading td {
  text-align: left;
  @apply font-medium;
}

.organize-buttons {
  @apply w-full text-left py-1.5 px-3 bg-gray-200 rounded-sm my-0.5 flex justify-between items-center 
}

.table-rows td {
  @apply p-3;
}

.table-row-parent {
  @apply table-rows text-sm border-gray-200 border-solid border-t-2 cursor-pointer w-full hover:bg-gray-100;
}

.heading {
  @apply text-xl font-semibold;
}

.filters {
  opacity: 0;
  height: 0;
  padding: 0;
}

.filters.active {
  display: flex;
  opacity: 100;
  height: 16rem;
  @apply pb-3
}

.poke {
  @apply absolute pointer-events-none top-2.5 -right-5 p-1 bg-black text-white text-xs flex z-10 bg-opacity-80 rounded-lg shadow-md;
}

.signup-input {
  @apply w-full rounded-full text-black shadow-md py-1.5 px-3
}

.w-fit {
  width: fit-content
}

.h-fit {
  height: fit-content
}

.table-row-parent.active {
  @apply bg-gray-100;
}

.selected-ticket {
  @apply text-sm px-3 my-2;
}

.selected-ticket span {
  @apply font-semibold;
}

.dashboard-chart {
  @apply flex flex-col items-center justify-center bg-white rounded-lg p-3 shadow-md;
}

.dashboard-box {
  @apply flex flex-col justify-evenly h-28 bg-main-color w-1/5 text-center text-sm shadow-md rounded-lg p-3;
}

.nav-link {
  @apply flex gap-5 items-center w-full duration-200 hover:scale-105 hover:text-white select-none;
}

.nav-link.active {
  @apply text-white;
}

.nav-icon {
  @apply flex justify-center w-5;
}
