@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 20px;
  --main-color: white;
  --sec-color: #7371FC;
  --third-color: #504FB0;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.643);
  font-family: 'Ubuntu', sans-serif;
}

